.mini-texto{
    text-align: center;
    width: 50%;
}
.texto-equipe{
    text-align: left;
    
}

.dad-icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.icon-qsomos {
    background-color: white;
    color: #ED7E07;
    width: 50%;
    height: 100px;
}

.icon-equipe {
    background-color: white;
    color: #ED7E07;
    width: 50%;
    height: 100px;
}

.h2-empresa {
    text-align: center;
    width: 50%;
    color: black;
}

.h2-equipe {
    text-align: center;
    width: 50%;
    color: black;
}