.header{
    width: 100%;
    height: 100px;
    z-index: 3;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #ED7E07;
    background-color: rgb(0, 0, 0);
    top: 0%;
    /* margin-bottom: 2px; */
    flex-direction: row;
}
.h-logo {
    width: 135px;
    height: 135px;
    background-size: cover;
    border-radius: 50%;  
    z-index: 6;      
}
.logo{
    display: flex;
    margin-top: 55px important!;
    align-items: center;
    justify-content: center;
    margin:  auto;
}
.nAVlinkESQUERDA{
    color: #ED7E07;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.novidades {
margin-top: 20px;
color: #ED7E07;
padding-right: 80px ;
}
.navbar-expand .navbar-nav .nav-link {
   color: #ED7E07;
   font-size: 15px;
   padding-right: 80px ;
}
.navbar-expand .navbar-nav .nav-link:hover {
    color: white;
}
.navlinkdireita{
    color: #ED7E07;
    justify-content: center;
    align-items: center;
}
.logar {
    margin-top: 40px;
    color: #ED7E07;
}
.cadastrar {
    margin-top: 20px;
    color: #ED7E07;
}
a.logar.nav-link {
    color: #ED7E07;
    font-size: 15px;
    margin-top: 20px;
}
a.logar.nav-link:hover {
    color: white;
}
a.cadastrar.nav-link:hover{
    color: white;
}
a.cadastrar.nav-link {
    color: #ED7E07;
    font-size: 15px;
    padding-right: 80px ;
}
div.nav {
    margin-top: 8px;
}































/* GUSTAVO, MEXER NO CSS DEBAIXO DESSE COMENTARIO */








































.meio {
        align-items: center;
        justify-content: center;
        /* display: flex; */
        margin-top: 150px;
        
        padding-left: 100px;
    }
.hamb {
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center;
    justify-content: center; */
    margin-top: 1px important!;
    font-size: 0;
}
/* .divflex {
    
} */
.LandMARK{
        display: block important!;

    }
.LandMARKF {
    display: block important!;
    margin-bottom: 100px;
}

.LOGOHAMB{
    width: 600px;
    height: 600px;
    /* margin-top: 20px important!; */
}

.buttons {
    display: inline-block;
    font-size: 0;
}
a.button{
    display: block important!;
}
.footerdiv {
    margin-top: 100px;
}