.link-cadastro{
    background-color: rgb(177, 22, 177);
    display: flex;
    margin: 100px;
    margin-top: 55px;
    align-items: center;
    flex-direction: row;
    margin-left: 400px;
    height: 20px;
    width: 300px;
}
.link-login{
    background-color: rgb(149, 88, 9);
    align-items: center;
    flex-direction: row;
    margin-left: 800px;
    height: 20px;
    width: 300px;
   

}

.subtitulo{
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-left:350px;
 
}
.grande{
    color: #ED7E07;
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-left:170px;
}
.cafezinho{
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-left:170px;
}
.entregarapida{
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-left:200px;
    
}
.carinhoemoji{
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-left:200px;
    
}
.caixaembalagem{
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-left:170px;
}
.carinhoemoji{
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 0px;
    align-items: center;
    margin-left:170px;
    
}















/* .DivCadastroLogin{
    align-items: center;
    flex-direction: row;
    margin-left: 800px;
    height: 20px;
    width: 300px;
    
} */
