/* .input-Cconta{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    color: rgb(235, 143, 45);
}

.perfil {
    cursor: pointer;
    font-family: Cambria;
    font-size: 20px;
    width: 60%;
    background-color: #ffffff;
    border-radius: 15px;
    height: 65%;
    justify-content: center;
    display: flex;
    gap: 5%;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 #817f7f;
    
}

.black-box {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    align-items: stretch;
    text-align: center;
}

.input-perfil { 
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
        
} 

.input-email {
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
   
}

.input-senha{
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
   
}

.input-ConSenha{
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
   
}

.input-perfil input {
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: 0;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5; 
}

.input-email input{
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: 0;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5
}

input:focus{
    outline: 0;
}

.input-senha input{
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: none;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5
}

.input-ConSenha input{
    padding: 0.8px;
    height: 100%;
    width: 70%;
    border: 0;
    border-bottom: 1px solid #817f7f;
    background-color: transparent;
    line-height: 1.5
}
.botao-editarPerfil{
    font-family: cursive;
    background-color: #ED7E07;
    width: 30%;
    height: 100%;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-right: 4%;
    border-radius: 50px;
} */