
.row {
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 2px 6px 10px 0px #ED7E07 !important;
    transition: all 0.7s linear;
  }
  
  .card-body {
    padding: 10px !important;
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 10px!important; */
    
  }

  
  .card-title{
      font-size: 20px;
    }
.preco {
        font-size: 13px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
  
  .overflow {
    overflow: hidden;
    flex: 1
    
    
  }
  
  .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    
  }
  
  .card-img-top:hover {
    transform: scale(1.8);
  }

  .col-md-4{
      margin-bottom: 20px;
  }
.prom {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ED7E07;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,131,0,1) 100%, rgba(0,212,255,1) 100%); */
  
}
.button {
  display: inline-block;
  padding: 5px 45px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ED7E07;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(231, 161, 69);
  margin-bottom: 12px;
}

.button:hover {
  background-color: #ffffff

}

.button:active {
  background-color: #ED7E07;
  box-shadow: 0 5px rgba(243, 111, 4, 0.678);
  transform: translateY(4px);
}

a.buttton {
    color: #ED7E07;
  }
