.navbar2{
    width: 100%;
    height: 100px;
    z-index: 3;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #ED7E07;
    background-color: black;
    top: 0%;
}
.esquerda{
    background-color: black;
    display: flex;
    align-items: center;
    width: 150px;
    margin-left: 5%;
    flex-direction: row;
}
.h-logo {
    width: 135px;
    height: 135px;
    background-size: cover;
    border-radius: 50%;  
    z-index: 6;        
}

.logo{
    display: flex;
    margin-top: 55px;
    align-items: center;
}

.direita{
    display: flex;
    margin-right: 5%;
    width: 150px;
    flex-direction: row;
    align-items: center;
}
/* .menu{
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
} */
.carrinho{
  margin-left:50px;
}



 svg  {
    background-color: black;
    color: #ED7E07;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


/* .title {
    color: #ffffff;
    font-family: cursive;
    font-size: 25px;
} */

.home {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    
}

.doces {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.salgados {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.almoco {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.Bolo {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.jantar {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.Especias {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.eventos {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
 .comunicados {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
 }

 .qsomos {
    background-color: black;
    color: #ED7E07;
    border-bottom: 1px solid #ED7E07;
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
 }

.home:hover{
    color: white;
    transition: all 0.5s;


}
.doces:hover{
    color: white;
    transition: all 0.5s;


}
.salgados:hover{
    color: white;
    transition: all 0.5s;


}
.almoco:hover{
    color: white;
    transition: all 0.5s;

}
.jantar:hover{
    color: white;
    transition: all 0.5s;


}
.eventos:hover{
    color: white;
    transition: all 0.5s;


}
.comunicados:hover{
    color: white;
    transition: all 0.5s;


}
.qsomos:hover{
    color: white;
    transition: all 0.5s;


}
.bolo:hover{
    color: white;
    transition: all 0.5s;


}

.navbar .icon {
    font-size: 3rem;
    margin-right: 1rem;
    color: #e79600;
}



.nav-menu {
    display:none;
    height: 100%;
    align-items: center;
    padding: 1rem;
    z-index: 2000;
   

    
}

.active {
    display: block !important;
}
.icon {
    font-size: 1.4rem;
    color: #ED7E07;
}
