body {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #ED7E07;
    background-color: black;
    z-index: 99;
}
.esquerda{
    display: flex;
    align-items: center;
    width: 150px;
    margin-left: 5%;
    flex-direction: row;
}

.logo{
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.direita{
    display: flex;
    margin-right: 5%;
    width: 150px;
    flex-direction: row;
    align-items: center;
}
.menu{
    margin-right: 50px;
    
}
.carrinho{
  margin-left:50px;
}



 svg  {
    background-color: black;
    color: #ED7E07;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.title {
    color: #ffffff;
    font-family: cursive;
    font-size: 25px;
}

.h-logo {
        width: 135px;
        height: 135px;
        background-size: cover;
        border-radius: 50%;      
        color: #ED7E07;    
}


