.info{
    width: 25%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #181512;
}


