section.tela{
    position: relative;
}

.total{
    display: none;
    position: absolute;
    right: 0;
    top: -2px;
    width: 400px;
    padding: 20px;
    background-color: white;
    background-color: rgb(235,240,235);
    border: 2px solid rgb(94, 199, 94);
    border-bottom-left-radius: 15px;
    color: black;
}

.total .produto{
    background-color: rgb(245, 245, 245);
    text-align: left;
    margin-bottom: 20px;
    border-radius: 10px;
}

.total .produto h4{
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    font-size: 18px;
}

.finalizar-compra div{
    padding: 10px;
    float: left;
    width: 50%;
}

.finalizar-compra button{
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    border: 0;
    cursor: pointer;
    outline: 0;
    font-size: 16px;
    border-radius: 5px;
}

.finalizar-compra div:first-of-type button:hover{
    background-color: rgb(44, 184, 42);
}

.finalizar-compra div:first-of-type button{
    background-color: rgb(29, 167, 26);
}

.finalizar-compra div:last-of-type button{
    background-color: rgb(167, 26, 26);
}

.finalizar-compra div:last-of-type button:hover{
    background-color: rgb(190, 62, 62);
}